@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;1,300&family=Source+Sans+3:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #131212;
    font-size: 14px;
    font-family: open sans, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}


.navbar .navbar-brand {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Source Sans 3', sans-serif;
}

.navbar-nav .nav-link:hover {
    color: rgb(212, 126, 86);
    text-decoration: underline #fff;
    text-underline-position: under;
    transition: text-underline-position .2s ease;
}

.page-section {
    position: relative;
    margin: auto;
}

.home-image {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: position 0.7s ease-in-out;
    width: 100%;
}

.home-image img {
    width: 100%;
    object-fit: cover;
    transition: width .2s ease;
}

.title {
    color: rgb(212, 126, 86);
    margin: 0 5em;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
}

.section1 {
    background-image: url("../images/pattern2.jpg");
    background-size: auto;
    width: 40%;
    min-height: 10vh;
    padding: 8em 2em;
    margin: 0 auto;
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

.section1 span {
    color: red;
}

.bookings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15em 2em;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 3em;
    padding: 0.5em;
}

.section1 .btn {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    border: 2px solid rgb(212, 126, 86);
    border-radius: 5px;
    padding: 0.3em 7em;
    margin: 1em 0 2em 3.5em;
}

.homepage-text {
    position: relative;
    top: 11em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 800;
    line-height: 2em;
    animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.homepage-text p {
    color: #fff;
    font-size: 0.55em;
    font-weight: 400;
    line-height: 3em;
}

@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}