<div class="title text-center">
    <h1>BOOK A RESERVATION</h1>
</div>
<section class="section1">
    <% if (success.length > 0) { %>
    <div class="alert-success">
        <%= success %>
    </div>
    <% } %>
    <form method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <br>
        <div class="form-group">
            <label for="phone">Phone Number: </label>
            <input type="phone" name="phone_number" id="phone" class="form-control">
        </div>

        <div class="form-group my-5">
            <label for=""> Booking Date:</label>
            <input type="date" name="booking_date" id="" class="form-control">
        </div>

        <button type="submit" class="btn">Book</button>
    </form>
</section>