<section class="bookings">
    <h1>Bookings</h1>
    <strong><a href="/bookings/add" rel="noopener noreferrer">Book an appointment</a></strong>
</section>

<section class="section2">
    <% if(bookings) { %>
    <% bookings.forEach(booking => { %>
    <div>
        <p>Client Name:<%= booking.user.name %> </p>
        <p>Phone Number:<%= booking.user.phone_number %> </p>
        <p>Booking Date:<%= booking.booking_date.toDateString() %> </p>
    </div>

    <!-- <hr> -->
    <% }) %>
    <% } %>
</section>