<section class="container-fluid page-section">
    <div class="home-image">
        <img src="/images/bg2.jpg" alt="spa image">
    </div>

    <div class="home-image">
        <img src="/images/bg3.jpg" alt="salon image">
    </div>
    <article>
        <h1>Welcome to Mira Salon. Appointment Only!</h1>
    </article>

</section>