<section class="section1">
    <h1>Add New Slots</h1>
    <br>
    <br>
    <form method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-group">
            <label for=""> Slot Date:</label>
            <input type="date" name="date" class="form-control" required>
        </div>

        <div class="form-group">
            <label for=""> Slot Quantity:</label>
            <input type="number" name="quantity" class="form-control" placeholder="Maximum of 10" required>
        </div>
        <button type="submit" class="btn">Add</button>
    </form>
</section>