<section class="bookings">
    <h1>Available Slot</h1>
    <strong><a href="/slots/add" rel="noopener noreferrer">Create new Slot</a></strong>
</section>
<br>
<br>
<% if (success.length > 0) { %>
<div class="alert-success">
    <%= success %>
</div>
<% } %>
<section class="section2">
    <% if(slots) { %>
    <% slots.forEach(slot => { %>
    <p>Date: <%= slot.date.toDateString() %> </p>
    <p>Available Quantity: <%= slot.quantity %></p>
    <% }) %>
    <% } %>
</section>